@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

html, #content {
    height: 100%;
}

#header {
    height: 8%;
    border-bottom: 1px solid @light-blue;
}

body {
    background-color: black !important;
    height: 100%;

    #content {
        background-image: url("../images/background.jpg");
        background-size: 100% 100%;
        min-height: 627px;

        .btn {
            color: white;
            background-color: @orange;
        }
    }
}

.file-upload {
    display: none !important;
}
