@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

@row-bg: rgb( 44, 149, 216 );

.bus-mate-row {

    .make-row();
    background-color: @light-orange;
    border-bottom: 1px solid white;
    height: 40px;

    .image {
        background-color: @dark-gray;
        .make-md-column(1);
        width: 40px !important;
        height: 40px;
        border-bottom: 1px solid white;
    }

    .bus-mate-detail {
        height: 40px;
        font-size: large;

        &:hover {
            background-color: 'beige';
        }

        .glyphicon-comment {
            color: @light-orange;
            padding: 4px;
            border-radius: 8px;
            background-color: @orange;
            margin: 7px 30px;
        }

        name {
        }

    }

}
