@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

@row-bg: rgb( 44, 149, 216 );

.past-challenge-container,
.challenge-container {

    margin-top: 2%;

    .challenge-header {

        font-size: large;
        background-color: @orange;
        color: white;
        padding: 1%;
    }
    
    .challenge-item-container {

        .challenge-row {

            .make-row();
            background-color: rgb( 224, 224, 224 );
            border-bottom: 1px solid @gray;

            &.completed {
                background-color: rgba( 224, 224, 224, 0.5 );
            }
                                
            &:hover {
                cursor: pointer;

                .number,
                .challenge-detail { 
                    text-decoration: underline;
                }
            }


            .number {
                background-color: @dark-gray;
                color: white;
                text-align: center;
                font-weight: bold;
                font-size: large;
                padding: 15px 0px;
            }

            .challenge-detail-wrap {
                font-size: large;
                padding: 15px 0px;

                .challenge-detail {

                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin: 0px 15px;

                    .name {
                        font-weight: bold;
                    }

                    .points {
                        color: blue;
                        font-weight: bold;
                    }

                    .rules {
                    }
                }
            }
        }

    }
}

.past-challenge-container {
    .challenge-header {
        background-color: @brown;
    }
}
