@import (reference) "vendor/theme.less";
@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

.dashboard-container {

    >.row {
        padding-top: 50px;
    }

    .dashboard-id {

        background-color: rgba( 237, 170, 85, 0.5 );
        padding: 10px 10px 30px 10px;

        .profile-image-wrapper {
            
            .center-block();
            background-color: white;
            width: 173px;
            height: 160px;

            .profile-image {
                background-image: url("../images/uploadPhotoButton.png");
                background-repeat: no-repeat;
                background-position: 5px 5px;
                width: 153px;
                height: 140px;
                display: table;
                text-align: center;
                background-color: lightgray;
                padding: 5px;
                position: relative;
                top: 10px;
                left: 10px;
            }
        }

        
        .file-upload {
            display: none;
        }

        .upload-photo-btn {
            font-size: medium;
            margin-top: 5px;

            &:hover {
                cursor: pointer;
            }
        }

        .name {
            font-weight: bold;
            font-size: medium;
            margin-bottom: 10px;
        }

        .bus-name {
            text-transform: uppercase;
            font-size: medium;
        }
    }

    .dashboard-leaderboard {
        .make-md-column(7);
        .pull-right();
        background-color: rgba( 225, 225, 225, 0.5 );
        padding: 20px;

        .leaderboard-header {
            font-size: x-large;
            margin-bottom: 10px;
        }
    }

    .dashboard-100-point {

        .header {
            color: @dashboard-text-color;
            font-size: large;
        }

        .content {

            height: 106px;
            margin: 10px;
            .clearfix();

            .individual-point-display {
                background-image: url("../images/starburst.png");
                background-repeat: no-repeat;
                width: 106px;
                height: 100%;
                display: table;
                .pull-left();

                >div {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: rgb( 14, 77, 118 );
                    font-size: xx-large;
                }
            }

            .out-of-display {
                height: 100%;
                color: @dashboard-text-color;
                font-size: medium;
                display: table;
                margin-left: 20px;
                .pull-left();

                >div {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
        
        .complete-challenge-btn {
            padding: 5px 40px;
        }
    }

    .dashboard-local-events {

        .make-md-column(8);
        padding: 20px;

        .local-event-header {
            font-size: x-large;
            margin-bottom: 20px;
        }

        .local-event-item {
            .make-row();

            .local-event-image {
                .make-md-column(2);

                img {
                    width: 40px;
                    height: 40px;
                }
            }

            .local-event-text {
                .make-md-column(10);
                padding: 10px 0px;
                border-bottom: 1px solid @gray;

                .local-event-title {
                    color: @orange;
                    font-weight: bold;
                    font-size: medium;
                }

                .local-event-location {
                }
            }
        }
    }
}
