@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

.dashboard-container {

    padding-top: 50px;

    .dashboard-id {

        background-image: url("../images/welcomeBackground.png");
        padding-bottom: 30px;

        .upload-photo-btn-wrapper {
            
            .center-block();
            background-color: white;
            width: 173px;
            height: 160px;

            .upload-photo-btn {
                background-image: url("../images/uploadPhotoButton.png");
                background-repeat: no-repeat;
                background-position: 5px 5px;
                width: 153px;
                height: 140px;
                display: table;
                text-align: center;
                background-color: lightgray;
                padding: 5px;
                position: relative;
                top: 10px;
                left: 10px;
            }
        }
    }

    .dashboard-leaderboard {

        .leaderboard-header {

        }
    }
}
