@import (reference) "vendor/theme.less";
@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

.dashboard-container {
    height: 100%;

    >.row {
        margin-top: 5%;
        height: 40%;

        &:last-child {
            padding-bottom: 50px;
        }
    }

    .dashboard-id {
        height: 100%;

        background-color: rgba( 237, 170, 85, 0.5 );

        >.row {
            height: 70%;
            margin-top: 5%;
        }

        .left-column, .right-column {
            height: 100%;
        }

        .profile-image-wrapper {
            
            .center-block();
            background-color: white;
            width: 100%;
            height: 80%;

            .profile-image {
                background-image: url("../images/uploadPhotoButton.png");
                background-size: contain;
                width: 100%;
                height: 100%;
                text-align: center;
                background-color: lightgray;
            }
        }

        .upload-photo-btn {
            font-size: medium;
            margin-top: 5%;
            height: 30%;

            &:hover {
                cursor: pointer;
            }
        }

        .name {
            font-weight: bold;
            font-size: large;
            margin-bottom: 5%;
        }

        .bus-name {
            text-transform: uppercase;
            font-size: large;
        }
    }

    .dashboard-leaderboard {
        height: 100%;
        .pull-right();
        background-color: rgba( 225, 225, 225, 0.5 );

        .leaderboard-header {
            height: 10%;
            font-size: large;
            margin: 2%;
        }
            
        >.row {
            height: 86%;
        }

        .leaderboard-item-container {
            height: 100%;
        }

        .bus-row {

            height: 15%;
            margin: 1% 0%;
            padding: 0%;

            &:first-child {
                padding-bottom: 2%;
                margin: 0%;
                height: 25%;
            }
        }
    }

    .dashboard-100-point {
        background-color: rgba( 225, 225, 225, 0.5 );
        padding: 20px;

        .header {
            font-size: x-large;
        }

        .content {

            height: 106px;
            margin: 10px;
            .clearfix();

            .individual-point-display {
                background-image: url("../images/starburst.png");
                background-repeat: no-repeat;
                width: 106px;
                height: 104px;
                display: table;
                .pull-left();

                >div {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: rgb( 14, 77, 118 );
                    font-size: 50px;
                }
            }

            .out-of-display {
                height: 100%;
                font-size: large;
                display: table;
                margin-left: 20px;
                .pull-left();

                >div {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
        
        .complete-challenge-btn {
            padding: 5px 40px;
            display: block;
            font-size: large;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .dashboard-local-events {

        .make-md-column(7);
        padding: 20px;
        .pull-right();
        background-color: rgba( 225, 225, 225, 0.5 );

        .local-event-header {
            font-size: x-large;
        }

        .local-event-item {
            .make-row();
            padding: 10px 0px;
            height: 80px;

            .local-event-image {
                .pull-left();
                width: 15%;
                height: 100%;

                img {
                    width: 55px;
                    height: 55px;
                    padding-top: 5px;
                    margin: 0 auto;
                    display: block;
                    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .local-event-text {
                .pull-left();
                width: 80%;
                height: 100%;
                border-bottom: 1px solid @gray;
                margin-right: 10px;

                .local-event-title {
                    color: @orange;
                    font-weight: bold;
                    font-size: large;
                    
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .local-event-location {
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
