@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

.four-week-container  > .row {
    padding-top: 50px;

    .header {
        text-align: center;
        color: @blue;
        font-size: xx-large;
    }

    .leaderboard-container {
        .make-row();
        margin-top: 20px;
        background-color: rgba( 225, 225, 225, 0.5 );
        padding: 20px;
        position: relative;

        .leaderboard-header {
            font-size: large;
            padding-left: 15px;
        }

        .leaderboard-sub-header {
            text-align: right;
            padding-right: 15px;
            font-weight: bold;
        }

        .bus-points {
            font-size: large !important;
            padding-right: 10px !important;
        }

        .points {
            display: none;
        }
    }

    .leaderboard-footer {
        .make-row();
        color: white;
        background-color: @dark-gray;
        padding: 0px 10px;
        text-align: center;

        span {
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .challenge-footer {
        .make-row();
        color: white;
        background-color: @dark-gray;
        padding: 0px 10px;
        text-align: center;

        span {
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .bus-mates-container {
        .make-row();
        background-color: white;
        padding: 5px 35px;
        margin-bottom: 40px;

        .bus-mates-header {
            font-size: large;
        }

        .bus-mates-item-container {
            .make-md-column(12);
            padding: 10px 50px;
            
        }
    }
}
