@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

.get-involved-container {

    .get-involved-header {
        .make-row();
        text-align: center;
        color: @blue;
        font-size: xx-large;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .get-involved-item-container {
        padding: 2em;
        background-color: rgba( 225, 225, 225, 0.5 );
    }

    .event-container {
        .make-row();
        padding: 1em 0em;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid black;
        display: table;

        &:first-child {
            border-top: 1px solid black;
        }

        &:hover {
            background-color: gray;
            cursor: pointer;
        }
    }

    .image {
        display: table-cell;
        float: none;
        vertical-align: middle;

        img {
            width: 100%;
        }
    }
    
    .detail {
        display: table-cell;
        float: none;
    }

    .title {
        .make-row();
        font-weight: bold;
        font-size: large;
        padding: 1em;
    }
    
    .description {
        .make-row();
        padding: 1em;
    }
}

