@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

.get-involved-container {

    .get-involved-header {
        .make-row();
        text-align: center;
        color: @blue;
        font-size: xx-large;
        margin-top: 40px;
    }

    .get-involved-item-container {
        .make-row();
    }

    .event-container {
        .make-row();
    }

    .image {
        .make-md-column(4);

        img {
            width: 100%;
        }
    }
    
    .detail {
        .make-md-column(8);
    }

    .title {
        .make-row();
    }
    
    .description {
        .make-row();
    }
}

