@import "variables.less";

#header {

    .header-row {
        background-color: @blue;
        text-align: center;

        .header-item {
            display: inline-block;
            vertical-align: top;
        }
    }
}
