@import (reference) "vendor/bootstrap.less";
@import (reference) "bih.less";

.leaderboard-item-container {

    .bus-row {
        .make-md-column(12);
        margin: 5px 0px;
        font-size: medium;

        .bus-row-left {
            .pull-left();
            width: 3%;
            .bus-rank {
                font-weight: bold;
                vertical-align: sub;
            }
        }

        .bus-row-right {
            .pull-left();
            background-color: @sky-blue;
            width: 97%;
            padding: 5px;

            &.user-bus {
                background-color: @orange;

                .bus-name {
                    font-weight: bold;
                }
            }
        }
        
        .bus-name {
            color: white;
            font-weight: 300;
            margin-left: 10px;
        }

        .point-container {

            .pull-right();

            .bus-points {
                color: white;
                font-size: small;
                font-weight: bold;
            }

            .points {
                color: @dashboard-text-color;
                font-weight: 300;
            }
        }
    }

    &.short-mode {

        .bus-row:first-child {
            border-bottom: 1px solid grey;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }

    }
    
    &.full-mode {
        .bus-row:nth-child(even) {
            .bus-row-right {
                background-color: @blue;
            }
        }
        .bus-row:nth-child(odd) {
            .bus-row-right {
                background-color: @sky-blue;
            }
        }
    }

}
