.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.bus-mate-row:before,
.bus-mate-row:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.bus-mate-row:after {
  clear: both;
}
.bus-mate-row {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #edb680;
  border-bottom: 1px solid white;
  height: 60px;
}
.bus-mate-row.visible-xs {
  height: 30px;
}
.bus-mate-row .image {
  background-color: #4f4f4f;
  border-bottom: 1px solid white;
  height: 60px;
  padding: 0px;
}
.bus-mate-row .image.col-sm-2,
.bus-mate-row .image.col-xs-1 {
  height: 30px;
}
.bus-mate-row .image img {
  width: 100%;
  height: 100%;
}
.bus-mate-row .image img.enabled:hover {
  cursor: pointer;
}
.bus-mate-row .bus-mate-detail {
  height: 60px;
  font-size: large;
}
.bus-mate-row .bus-mate-detail.col-xs-11 {
  height: 30px;
}
.bus-mate-row .bus-mate-detail:hover {
  background-color: 'beige';
}
.bus-mate-row .bus-mate-detail .col-sm-2 .glyphicon-comment,
.bus-mate-row .bus-mate-detail .col-xs-2 .glyphicon-comment {
  margin: 0px;
  padding: 2px;
}
.bus-mate-row .bus-mate-detail .glyphicon-comment {
  color: #edb680;
  padding: 4px;
  border-radius: 8px;
  background-color: #ec7400;
  margin: 14px 30px;
  float: left !important;
}
.bus-mate-row .bus-mate-detail .glyphicon-comment:hover {
  cursor: pointer;
  background-color: #edb680;
  color: #ec7400;
}
.bus-mate-row .bus-mate-detail .name {
  font-weight: bold;
  line-height: 60px;
  margin: 0px 60px;
  white-space: nowrap;
  text-overflow: clip;
}
.bus-mate-row .bus-mate-detail .name.col-sm-5,
.bus-mate-row .bus-mate-detail .name.col-xs-5 {
  margin: 0px;
  font-size: x-small;
  line-height: 30px;
}
.bus-mate-row .bus-mate-detail .col-sm-5 .vote-off,
.bus-mate-row .bus-mate-detail .col-xs-5 .vote-off {
  font-size: x-small;
  line-height: 30px;
  margin: 0px;
}
.bus-mate-row .bus-mate-detail .vote-off {
  color: red;
  font-size: large;
  float: right !important;
  line-height: 60px;
  margin: 0px 60px;
}
.bus-mate-row .bus-mate-detail .vote-off:hover {
  cursor: pointer;
  color: black;
}
.bus-mate-row .badge-container {
  display: inline-block;
  float: right;
}
.bus-mate-row .col-sm-5 .bih-badge,
.bus-mate-row .col-xs-5 .bih-badge {
  width: 26px;
  height: 26px;
  margin: 2px;
  font-size: x-small;
  text-align: center;
  font-weight: bold;
  line-height: 26px;
  white-space: nowrap;
  text-overflow: clip;
}
.bus-mate-row .bih-badge {
  background-color: #4f4f4f;
  float: left;
  width: 50px;
  height: 50px;
  margin: 5px;
  color: #edb680;
  font-size: x-large;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
}
.bus-mate-row .detail-container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 10px;
}
@media (min-width: 992px) {
  .bus-mate-row .detail-container {
    float: left;
    width: 83.33333333%;
  }
}
