.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.past-challenge-container .challenge-item-container .challenge-row:before,
.past-challenge-container .challenge-item-container .challenge-row:after,
.challenge-container .challenge-item-container .challenge-row:before,
.challenge-container .challenge-item-container .challenge-row:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.past-challenge-container .challenge-item-container .challenge-row:after,
.challenge-container .challenge-item-container .challenge-row:after {
  clear: both;
}
.past-challenge-container,
.challenge-container {
  margin-top: 2%;
}
.past-challenge-container .challenge-header,
.challenge-container .challenge-header {
  font-size: large;
  background-color: #ec7400;
  color: white;
  padding: 1%;
}
.past-challenge-container .challenge-item-container .challenge-row,
.challenge-container .challenge-item-container .challenge-row {
  margin-left: -15px;
  margin-right: -15px;
  background-color: #e0e0e0;
  border-bottom: 1px solid #3f3f3f;
}
.past-challenge-container .challenge-item-container .challenge-row.completed,
.challenge-container .challenge-item-container .challenge-row.completed {
  color: darkgray;
}
.past-challenge-container .challenge-item-container .challenge-row:hover,
.challenge-container .challenge-item-container .challenge-row:hover {
  cursor: pointer;
}
.past-challenge-container .challenge-item-container .challenge-row:hover .number,
.challenge-container .challenge-item-container .challenge-row:hover .number,
.past-challenge-container .challenge-item-container .challenge-row:hover .challenge-detail,
.challenge-container .challenge-item-container .challenge-row:hover .challenge-detail {
  text-decoration: underline;
}
.past-challenge-container .challenge-item-container .challenge-row .number,
.challenge-container .challenge-item-container .challenge-row .number {
  background-color: #4f4f4f;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 15px 0px;
}
.past-challenge-container .challenge-item-container .challenge-row .challenge-detail-wrap,
.challenge-container .challenge-item-container .challenge-row .challenge-detail-wrap {
  font-size: large;
  padding: 15px 0px;
}
.past-challenge-container .challenge-item-container .challenge-row .challenge-detail-wrap .challenge-detail,
.challenge-container .challenge-item-container .challenge-row .challenge-detail-wrap .challenge-detail {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0px 15px;
}
.past-challenge-container .challenge-item-container .challenge-row .challenge-detail-wrap .challenge-detail .name,
.challenge-container .challenge-item-container .challenge-row .challenge-detail-wrap .challenge-detail .name {
  font-weight: bold;
}
.past-challenge-container .challenge-item-container .challenge-row .challenge-detail-wrap .challenge-detail .points,
.challenge-container .challenge-item-container .challenge-row .challenge-detail-wrap .challenge-detail .points {
  color: blue;
  font-weight: bold;
}
.past-challenge-container .completed .points,
.challenge-container .completed .points {
  color: darkgray !important;
}
.past-challenge-container .challenge-header {
  background-color: #a4550a;
}
