.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.challenge-page:before,
.challenge-page:after,
.challenge-page .header:before,
.challenge-page .header:after,
.challenge-page .challenge-container:before,
.challenge-page .challenge-container:after,
.challenge-page .challenge-container .challenge-header:before,
.challenge-page .challenge-container .challenge-header:after,
.challenge-page .challenge-container .body:before,
.challenge-page .challenge-container .body:after,
.challenge-page .challenge-container .body .description-header:before,
.challenge-page .challenge-container .body .description-header:after,
.challenge-page .challenge-container .body .description:before,
.challenge-page .challenge-container .body .description:after,
.challenge-page .challenge-container .body .submission:before,
.challenge-page .challenge-container .body .submission:after,
.challenge-page .challenge-container .body .submission .bottom:before,
.challenge-page .challenge-container .body .submission .bottom:after,
.challenge-page .bus-mates-header:before,
.challenge-page .bus-mates-header:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.challenge-page:after,
.challenge-page .header:after,
.challenge-page .challenge-container:after,
.challenge-page .challenge-container .challenge-header:after,
.challenge-page .challenge-container .body:after,
.challenge-page .challenge-container .body .description-header:after,
.challenge-page .challenge-container .body .description:after,
.challenge-page .challenge-container .body .submission:after,
.challenge-page .challenge-container .body .submission .bottom:after,
.challenge-page .bus-mates-header:after {
  clear: both;
}
.challenge-page {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .challenge-page {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .challenge-page {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .challenge-page {
    width: 1170px;
  }
}
.challenge-page > .navbar-header,
.challenge-page > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .challenge-page > .navbar-header,
  .challenge-page > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.challenge-page .header {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  color: #2c50d8;
  font-size: xx-large;
  margin-top: 40px;
}
.challenge-page .challenge-container {
  margin-left: -15px;
  margin-right: -15px;
}
.challenge-page .challenge-container .challenge-header {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 10px;
  padding: 0px;
}
.challenge-page .challenge-container .challenge-header .number {
  background-color: #4f4f4f;
  color: white;
  width: 40px !important;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  z-index: 2;
  float: left;
}
.challenge-page .challenge-container .challenge-header .detail {
  font-size: large;
  background-color: #ec7400;
  color: white;
  padding: 5px;
}
.challenge-page .challenge-container .challenge-header .detail .title {
  font-size: large;
  margin-left: 10px;
}
.challenge-page .challenge-container .challenge-header .detail .back {
  margin-right: 10px;
  float: right !important;
}
.challenge-page .challenge-container .challenge-header .detail .back:hover {
  cursor: pointer;
  text-decoration: underline;
}
.challenge-page .challenge-container .body {
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px;
  background-color: rgba(225, 225, 225, 0.5);
}
.challenge-page .challenge-container .body .description-header {
  margin-left: -15px;
  margin-right: -15px;
  font-size: large;
  padding: 20px;
}
.challenge-page .challenge-container .body .description {
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px;
}
.challenge-page .challenge-container .body .submission {
  margin-left: -15px;
  margin-right: -15px;
  padding: 20px;
}
.challenge-page .challenge-container .body .submission .text {
  background-color: white;
  border: 1px solid lightgray;
}
.challenge-page .challenge-container .body .submission .text textarea {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 0px;
  border: none;
}
.challenge-page .challenge-container .body .submission .bottom {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  background-color: white;
}
.challenge-page .challenge-container .body .submission .bottom span,
.challenge-page .challenge-container .body .submission .bottom button {
  padding: 5px 15px;
}
.challenge-page .challenge-container .body .submission .bottom .glyphicon {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  color: lightgray;
  font-size: 30px;
  border-right: 1px solid lightgray;
  text-align: center;
}
@media (min-width: 992px) {
  .challenge-page .challenge-container .body .submission .bottom .glyphicon {
    float: left;
    width: 8.33333333%;
  }
}
.challenge-page .challenge-container .body .submission .bottom .glyphicon.enabled {
  color: black;
}
.challenge-page .challenge-container .body .submission .bottom .glyphicon.enabled:hover {
  cursor: pointer;
  text-decoration: underline;
}
.challenge-page .challenge-container .body .submission .bottom .filename {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  line-height: 30px;
  color: lightgray;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 992px) {
  .challenge-page .challenge-container .body .submission .bottom .filename {
    float: left;
    width: 58.33333333%;
  }
}
.challenge-page .challenge-container .body .submission .bottom .submit {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ec7400;
  color: white;
  text-align: center;
  border: none;
  height: 40px;
}
@media (min-width: 992px) {
  .challenge-page .challenge-container .body .submission .bottom .submit {
    float: left;
    width: 25%;
  }
}
.challenge-page .challenge-container .body .submission .bottom .submit:hover {
  text-decoration: underline;
}
.challenge-page .bus-mates-header {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 20px;
  background-color: #4f4f4f;
  font-size: large;
  color: white;
  padding: 10px 20px;
}
.challenge-page .bus-mates-container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0px 40px;
  margin-bottom: 40px;
  background-color: white;
}
@media (min-width: 992px) {
  .challenge-page .bus-mates-container {
    float: left;
    width: 100%;
  }
}
.challenge-page .bus-mates-container .bus-mate-row {
  background-color: white;
  height: 50px;
  padding: 5px 0px;
  border-bottom: 1px solid lightgray;
}
.challenge-page .bus-mates-container .glyphicon-comment {
  color: white;
}
