.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.dashboard-container .dashboard-local-events .local-event-item:before,
.dashboard-container .dashboard-local-events .local-event-item:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.dashboard-container .dashboard-local-events .local-event-item:after {
  clear: both;
}
.dashboard-container {
  height: 100%;
}
.dashboard-container > .row {
  margin-top: 5%;
  height: 100%;
}
.dashboard-container .dashboard-id {
  height: 40%;
  margin-bottom: 2%;
  background-color: rgba(237, 170, 85, 0.5);
}
.dashboard-container .dashboard-id > .row {
  height: 70%;
  margin-top: 5%;
}
.dashboard-container .dashboard-id .left-column,
.dashboard-container .dashboard-id .right-column {
  height: 100%;
}
.dashboard-container .dashboard-id .profile-image-wrapper {
  background-size: cover;
  background-color: white;
  width: 100%;
  height: 80%;
}
.dashboard-container .dashboard-id .profile-image-wrapper .profile-image {
  background-image: url("../images/uploadPhotoButton.png");
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: lightgray;
}
.dashboard-container .dashboard-id .upload-photo-btn {
  font-size: medium;
  margin-top: 5%;
  height: 30%;
}
.dashboard-container .dashboard-id .upload-photo-btn:hover {
  cursor: pointer;
}
.dashboard-container .dashboard-id .name {
  font-weight: bold;
  font-size: large;
  margin-bottom: 5%;
}
.dashboard-container .dashboard-id .bus-name {
  text-transform: uppercase;
  font-size: large;
}
.dashboard-container .dashboard-leaderboard {
  height: 40%;
  margin-bottom: 2%;
  background-color: rgba(225, 225, 225, 0.5);
}
.dashboard-container .dashboard-leaderboard .leaderboard-header {
  height: 10%;
  font-size: large;
  margin: 2%;
}
.dashboard-container .dashboard-leaderboard > .row {
  height: 86%;
}
.dashboard-container .dashboard-leaderboard .leaderboard-item-container {
  height: 100%;
}
.dashboard-container .dashboard-leaderboard .bus-row {
  height: 15%;
  margin: 1% 0%;
  padding: 0%;
}
.dashboard-container .dashboard-leaderboard .bus-row:first-child {
  padding-bottom: 2%;
  margin: 0%;
  height: 25%;
}
.dashboard-container .dashboard-100-point {
  margin-bottom: 2%;
  background-color: rgba(225, 225, 225, 0.5);
  padding: 2%;
}
.dashboard-container .dashboard-100-point .header {
  font-size: x-large;
}
.dashboard-container .dashboard-100-point .content {
  height: 106px;
  margin: 10px;
}
.dashboard-container .dashboard-100-point .content:before,
.dashboard-container .dashboard-100-point .content:after {
  content: " ";
  display: table;
}
.dashboard-container .dashboard-100-point .content:after {
  clear: both;
}
.dashboard-container .dashboard-100-point .content:before,
.dashboard-container .dashboard-100-point .content:after {
  content: " ";
  display: table;
}
.dashboard-container .dashboard-100-point .content:after {
  clear: both;
}
.dashboard-container .dashboard-100-point .content .individual-point-display {
  background-image: url("../images/starburst.png");
  background-repeat: no-repeat;
  width: 106px;
  height: 104px;
  display: table;
  float: left !important;
}
.dashboard-container .dashboard-100-point .content .individual-point-display > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #0e4d76;
  font-size: 50px;
}
.dashboard-container .dashboard-100-point .content .out-of-display {
  height: 100%;
  font-size: large;
  display: table;
  margin-left: 20px;
  float: left !important;
}
.dashboard-container .dashboard-100-point .content .out-of-display > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.dashboard-container .dashboard-100-point .complete-challenge-btn {
  padding: 5px 40px;
  display: block;
  font-size: large;
}
.dashboard-container .dashboard-100-point .complete-challenge-btn:hover {
  text-decoration: underline;
}
.dashboard-container .dashboard-local-events {
  margin-bottom: 2%;
  padding: 2%;
  background-color: rgba(225, 225, 225, 0.5);
}
.dashboard-container .dashboard-local-events .local-event-header {
  font-size: x-large;
}
.dashboard-container .dashboard-local-events .local-event-item {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 0px;
  height: 80px;
}
.dashboard-container .dashboard-local-events .local-event-item .local-event-image {
  height: 100%;
}
.dashboard-container .dashboard-local-events .local-event-item .local-event-image img {
  width: 100%;
  height: 100%;
  padding: 5px;
  display: block;
}
.dashboard-container .dashboard-local-events .local-event-item .local-event-image img:hover {
  cursor: pointer;
}
.dashboard-container .dashboard-local-events .local-event-item .local-event-text {
  height: 100%;
  border-bottom: 1px solid #3f3f3f;
}
.dashboard-container .dashboard-local-events .local-event-item .local-event-text .local-event-title {
  color: #ec7400;
  font-weight: bold;
  font-size: large;
}
.dashboard-container .dashboard-local-events .local-event-item .local-event-text .local-event-title:hover {
  cursor: pointer;
  text-decoration: underline;
}
.dashboard-container .dashboard-local-events .local-event-item .local-event-text .local-event-location:hover {
  cursor: pointer;
  text-decoration: underline;
}
