.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.four-week-container > .row .leaderboard-container:before,
.four-week-container > .row .leaderboard-container:after,
.four-week-container > .row .leaderboard-footer:before,
.four-week-container > .row .leaderboard-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.four-week-container > .row .leaderboard-container:after,
.four-week-container > .row .leaderboard-footer:after {
  clear: both;
}
.four-week-container > .row {
  padding-top: 50px;
}
.four-week-container > .row .header {
  text-align: center;
  color: #2c50d8;
  font-size: xx-large;
}
.four-week-container > .row .leaderboard-container {
  margin-left: -15px;
  margin-right: -15px;
  background-color: white;
  padding: 10px;
}
.four-week-container > .row .leaderboard-container .leaderboard-sub-header {
  text-align: right;
}
.four-week-container > .row .leaderboard-footer {
  margin-left: -15px;
  margin-right: -15px;
  color: white;
  background-color: black;
  padding: 0px 10px;
  text-align: center;
}
