.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.help-container:before,
.help-container:after,
.help-container .header:before,
.help-container .header:after,
.help-container .info:before,
.help-container .info:after,
.help-container .help-row:before,
.help-container .help-row:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.help-container:after,
.help-container .header:after,
.help-container .info:after,
.help-container .help-row:after {
  clear: both;
}
.help-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(225, 225, 225, 0.75);
  padding: 20px;
  color: black;
  font-weight: bold;
}
@media (min-width: 768px) {
  .help-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .help-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .help-container {
    width: 1170px;
  }
}
.help-container > .navbar-header,
.help-container > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .help-container > .navbar-header,
  .help-container > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.help-container a {
  color: #2c50d8 !important;
}
.help-container .header {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  color: #2c50d8;
  font-size: xx-large;
  padding-top: 50px;
  margin: 5px;
  font-weight: bold;
}
.help-container .form-container {
  padding-top: 2em;
}
.help-container .form-group {
  margin-bottom: 25px;
}
.help-container button {
  background-color: #ec7400;
  color: white;
  padding: 2px 5px;
}
.help-container .info {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.help-container .help-row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: .5em;
  margin-bottom: .5em;
}
@media (max-width: 767px) {
  .help-container {
    font-size: x-small !important;
  }
}
@media (min-width: 768px) {
  .help-container {
    font-size: small !important;
  }
}
@media (min-width: 992px) {
  .help-container {
    font-size: medium !important;
  }
}
@media (min-width: 1200px) {
  .help-container {
    font-size: large !important;
  }
}
