<div class="header">4 Week Challenge</div>
<div class="challenge-container">
    <div class="col-md-12">
        <div class="challenge-header">
            <div data-js="challengeNumber" class="number"></div>
            <div class="detail">
                <span data-js="challengeTitle" class="title"></span>
                <span data-js="backBtn" class="back">
                    <span class="glyphicon glyphicon-hand-left"></span>
                    <span>Back</span>
                </span>
            </div>
        </div>
        <div class="body">

            <div class="col-md-12">
                <div class="description-header">Challenge Description</div>
                <div data-js="description" class="description"></div>

                <div class="submission">
                    <div class="text">
                        <textarea data-js="text" rows="5" placeholder="Type submission here..."></textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="bottom">
                            <span data-js="image" class="glyphicon glyphicon-picture"></span>
                            <span data-js="video" class="glyphicon glyphicon-facetime-video"></span>
                            <span class="filename" data-js="mediaReference"></span>
                            <button data-js="submitBtn" class="submit">Submit</button>
                            <input data-js="imageUpload" class="file-upload" id="imageUpload" type="file" name="files[]" data-url="/submission/post">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bus-mates-header">Submissions</div>
<div class="row">
    <div data-js="busMatesContainer" class="bus-mates-container"></div>
<div>
