<div class="header">100 Point Challenge</div>
<div class="challenge-container">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="sub-header">Challenge Description</div>
        <div class="rules">The 100 Point Challenge is a unique opportunity to explore your Judaism, strengthen your connection to Israel, and learn about opportunities to engage with your localcommunity. The 100 point challenge is a self guided journey that is personalized, fun, and meaningful. You, the participant, choose your incentive challenge, determine what activities to complete, and set the pace you wish to complete the challenge. Step 1: Choose your incentive from the options presented below, and fill out the enrollment form. You will receive a notification from Bring Israel Home informing you whether you have been accepted into that incentive challenge*. Step2: You will have 3 months from the challenge start date to complete 100 points worth of challenge activities. Bring Israel Home will provide a list of proposed challenges; with each challenge having an assigned point value. You may also suggest your own challenge, and if approved it will be added to your challenge list with a point value assigned by Bring Israel Home. Proof of completion of challenges is submitted through the Bring Israel Home website via a written post, picture, or video; method of submission will be outlined in the challenge description. You may complete challenges multiple times subject to specific challenge limitations e.g. you may attend multiple classes, but you may only light Shabbat candles 1x per week.  Step 3: Bring Israel Home will verify all your challenge submissions, and upon confirmation that you have completed your 100 points, you will be contacted with information on how to redeem your points.* Note: some incentives may have additional restrictions based on partnering organizations policy. If at the time for redeeming the prize you become ineligible or cannot redeem the incentive, it is the discretion of Bring Israel Home whether to offer you the option to redeem your points for another incentive.</div>
        <div class="option-list">
            <div class="col-md-12 col-sm-12 col-xs-12">
                {{#each data}}
                    <div class="option-row">
                        <div class="image col-md-5 col-sm-5 col-xs-5">
                            <img src="{{this.imageUrl}}"/>
                        </div>
                        <div class="detail col-md-7 col-sm-7 col-xs-7">
                            <div class="header">
                                <span class="name col-md-9 col-sm-9 col-xs-9">{{name}}</span>
                                <button data-id="{{this.id}}" data-js="selectBtn" class="select-btn col-md-3 col-sm-3 col-xs-3">SELECT</button>
                            </div>
                            <div class="rules">{{rules}}</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
