<div class="challenge-page">
    <div class="col-md-12">
        <div class="header">4 Week Challenge</div>
        <div class="challenge-container">
            <div class="col-md-12">
                <div class="header">
                    <div data-js="challengeNumber" class="number"></div>
                    <div class="detail">
                        <div data-js="challengeTitle" class="title"></div>
                        <div data-js="backButton" class="back"></div>
                    </div>
                </div>
                <div class="body">
                    <div class="col-md-12">
                        <div class="header">Challenge Description</div>
                        <div data-js="description" class="description"></div>
                    </div>
                </div>
                <div class="submission">
                    <div class="col-md-12">
                        <div class="text">
                            <textarea placeholder="Type submission here..."></textarea>
                        </div>
                        <div class="bottom">
                            <div class="photo"></div>
                            <div class="video"></div>
                            <div class="filename"></div>
                            <button class="submit"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bus-mates-header">Submissions</div>
        <div data-js="busMatesContainer" class="bus-mates-container"></div>
    </div>
</div>
