<div class="header">4 Week Challenge</div>
<div class="challenge-container">
    <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="challenge-header">
            <div data-js="challengeNumber" class="number"></div>
            <div class="detail">
                <span data-js="challengeTitle" class="title"></span>
                <span data-js="backBtn" class="back">
                    <span class="glyphicon glyphicon-hand-left"></span>
                    <span>Back</span>
                </span>
            </div>
        </div>
        <div class="body">

            <div class="col-md-12 ">
                <div class="description-header">Challenge Description</div>
                <div data-js="description" class="description"></div>

                <div data-js="submission" class="submission">
                    <div class="text">
                        <textarea data-js="text" rows="5" placeholder="Type submission here..."></textarea>
                    </div>
                    <div class="col-md-12">
                        <div class="bottom">
                            <div class="col-md-2 col-sm-2 col-xs-2 rightBorder noPad">
                                <span data-js="image" class="glyphicon glyphicon-picture"></span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 rightBorder noPad">
                                <span data-js="video" class="glyphicon glyphicon-facetime-video"></span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 noPad filename-container">
                                <span class="filename" data-js="mediaReference"></span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 noPad">
                                <button data-js="submitBtn" class="submit">Submit</button>
                                <input data-js="imageUpload" class="file-upload" id="imageUpload" type="file" name="files[]" data-url="/submission/post">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="bus-mates-header">Submissions</div>
        <div class="clearfix">
            <div data-js="busMatesContainer" class="bus-mates-container"></div>
        </div>
    <div>
</div>
