<div class="row">
    <div class="col-md-12>
        <div class="row header">4 Week Challenge</div>
        <div class="row sub-header">Week 1 - Connection to Israel</div>
        <div class="row">
            <div>Leading Bus</div>
            <div data-js="leaderboardItems"></div>
            <div>
                <span>View full leaderboard</span>
            </div>
        </div>
        <div data-js="challengeItems" class="row">
        </div>
    </div>
</div>
