<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="row header">4 Week Challenge</div>
        <div class="leaderboard-container">
            <div class="leaderboard-header">4-Week Challenge Leaderboard</div>
            <div class="leaderboard-sub-header">Points</div>
            <div data-js="leaderboardItems" class="leaderboard-item-container"></div>
        </div>
        <div class="leaderboard-footer">
            <span data-js="viewFullLeaderboardBtn">View Full Leaderboard</span>
        </div>
        <div data-js="pastChallengeContainer" class="row past-challenge-container"></div>
        <div data-js="challengeContainer" class="row challenge-container"></div>
        <div class="challenge-footer">
            <span data-js="viewPastChallengeButton">View Past Challenges</span>
        </div>
        <div class="bus-mates-container">
            <div data-js="busMatesHeader" class="bus-mates-header"></div>
            <div data-js="busMatesItemContainer" class="bus-mates-item-container"></div>
        </div>
    </div>
</div>
