<div class="row">
    <div class="col-md-12">
        <div class="row header">4 Week Challenge</div>
        <div class="leaderboard-container">
            <div class="leaderboard-header">4-Week Challenge Leaderboard</div>
            <div class="leaderboard-sub-header">Points</div>
            <div data-js="leaderboardItems"></div>
        </div>
        <div class="leaderboard-footer">View Full Leaderboard</div>
        <div data-js="challengeContainer" class="row challenge-container"></div>
        <div class="challenge-footer">View Past Challenges</div>
        <div class="bus-mates-container">
            <div class="bus-mates-header"></div>
            <div data-js="busMatesItemContainer" class="bus-mates-item-container"></div>
        </div>
    </div>
</div>
