<div class="get-involved-header">Get Involved</div>
<div class="row">
    <div class="get-involved-item-container col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    {{#each events}}
        <div data-id="{{this.id}}" data-js="eventContainer" class="event-container">
            <div class="image col-md-4 col-sm-4 col-xs-4">
                <img src="{{this.imageUrl}}">
            </div>
            <div class="detail col-md-8 col-sm-8 col-xs-8">
                <div class="title">{{this.name}}</div>
                <div class="description">{{this.description}}</div>
            </div>
        </div>
    {{/each}}
</div>
