<div class="container-fluid">
    <div class="row">
        <div class="header-row">
            <div class="header-item">
                <div class="header-box-overlay">
                    <div class="overlay-item">BRING</div>
                    <div class="overlay-item">ISRAEL</div>
                    <div class="overlay-item">HOME</div>
                </div>
                <span class="overlay-sibling">4-Week Challenge</span>
            </div>
            <span class="header-item">100-Point Challenge</span>
            <span class="header-item">My Bus</span>
            <span class="header-item">Help</span>
            <div class="header-item">
                <span class="glyphicon glyphicon-envelope"></span>
                <span>Hi {{firstName}}!</span>
                <span data-js="dropdownButton" class="glyphicon glyphicon-chevron-down"></span>
                <div data-js="menu" class="menu">
                    <div>Settings</div>
                    <div>Logout</div>
                </div>
            </div>
        </div>
    </div>
</div>
