<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <div>BRING</div>
            <div>ISRAEL</div>
            <div>HOME</div>
       </div>
        <div class="col-md-2">4-Week Challenge</div>
        <div class="col-md-2">100-Point Challenge</div>
        <div class="col-md-2">My Bus</div>
        <div class="col-md-2">Help</div>
        <div class="col-md-2">Hi {{firstName}}</div>
    </div>
</div>
