<div class="row">
    <div class="col-md-12">
        <div class="row header">100 Point Challenge</div>
        <div class="hundred-pt-challenge-container">
            <div class="hundred-pt-challenge-sub-header">Challenge Description</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ut nibh posuere, cursus orci in, accumsan mi. Nulla imperdiet lacinia elit nec tincidunt. Suspendisse ultrices leo ut porta rutrum. Vestibulum a diam in leo sollicitudin convallis. Aliquam consectetur ullamcorper pulvinar. Suspendisse sit amet mauris enim. Nulla ullamcorper gravida tempus.</p>

            <p>In sed turpis nec augue consectetur volutpat. Nunc euismod felis imperdiet turpis commodo, et consectetur tellus auctor. Suspendisse mollis gravida ligula quis faucibus. Nunc leo nunc, iaculis varius aliquet a, porta congue purus. Integer at facilisis lectus, quis auctor arcu. Sed tincidunt vel massa ac ornare. Morbi sed aliquam est, sit amet varius ligula.</p>
        <div data-js="rewardItems"></div>
        </div>
    </div>
</div>
