<div class="row">
    <div class="col-md-12">
        <div class="row header">100 PointChallenge</div>
        <!-- <div data-js="challengeContainer" class="row challenge-container"> -->
        </div>
    </div>
</div>
