<div class="login-container">
    <div class="header">Log in</div>
    <div class="input-container">
        <input data-js="email" type="text" placeholder="User email" />
        <input data-js="pass" type="text" placeholder="password" />
    </div>
    <div data-js="loginButton" class="login-button button">Log in</div>
    <div class="or">
        <hr></hr>
        <div>or</div>
        <hr></hr>
    </div>
    <div data-js="guestLoginButton" class="guest-login-button button">Log in as guest</div>
</div>
