<div class="header">Log in <span data-js="error" class="glyphicon glyphicon-exclamation-sign hide"></span></div>
<div class="input-container">
    <input data-js="email" type="text" placeholder="User email" />
    <input data-js="pass" type="password" placeholder="password" />
</div>
<div class="button-container">
    <div data-js="loginButton" class="login-button button">
        <span>Log in</span>
    </div>
    <div class="or">
        <hr></hr>
        <div>or</div>
        <hr></hr>
    </div>
    <div data-js="guestLoginButton" class="guest-login-button button">
        <span>Log in as guest</span>
    </div>
</div>
