<div class="header-row">
    <div class="header">Send Message</div>
    <span data-js="closeBtn" class="glyphicon glyphicon-remove"></span>
</div>
<div class="name">To : {{name}}</div>
<div class="submission">
    <input data-js="subject" class="subject" placeholder="Subject" type="text" />
    <div class="text">
        <textarea data-js="text" rows="5" placeholder="Enter your message here..."></textarea>
    </div>
    <div class="bottom">
        <div>
            <span class="nothingness"></span>
            <button data-js="submitBtn" class="submit">Submit</button>
        </div>
    </div>
</div>
