<div class="modalBoxContainer" data-js="container">
    <div class="modalBoxOverlay"></div>
    <div class="modalBoxContent" data-js="content">
        <div class="modalBoxTitle" data-js="title"></div>
        <div class="modalBoxForm" data-js="form"></div>
    </div>
</div>
